@import "variables";

/* Navbar top */
#navbar-top {
    padding: .5rem 0;
    font-weight: 700;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2);


    @media(min-width: map-get($grid-breakpoints, 'lg')) {
        padding: 1.5rem 0;
    }

    /* Logo */
    .container > a.navbar-brand {
        background: url('/images/alez.svg') no-repeat 50% -2px;
        background-size: cover;
        text-indent: -1000rem;
        width: 115px;
        height: 34px;
        margin-right: 2rem;
        margin-left: -6px;

        @media(min-width: map-get($grid-breakpoints, 'lg')) {
            width: 135px;
            height: 39px;
        }   
    }

    /* Links */
    #menu-top {
        a.nav-link, a.btn-link {
            color: #3b4249;
            padding-right: 0;

            @media(min-width: map-get($grid-breakpoints, 'lg')) {
                padding: 0.6rem 1.2rem;
            }
        }
    }

    /* Navbar-dark styles */
    &.navbar-dark {

        /* Logo */
        .container > a.navbar-brand {
            background: url('/images/alez.png') no-repeat 50% -2px;
            background-size: cover;
        }
    
        #menu-top {
            a.nav-link, a.btn-link {
                color: #FFF;
            }
        }
    }
}

/* Hero */
.hero {
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(41,41,41,0.75);

    .hero-header {
        font-size: 2.2rem;
        font-weight: bold;
        margin: 50px 0 .85rem;

        @media(min-width: map-get($grid-breakpoints, 'lg')) {
            margin: 100px 0 .85rem;
            font-size: 2.75rem;
        } 
    }

    .hero-sub {
        font-size: .95rem;
        font-weight: normal;

        @media(min-width: map-get($grid-breakpoints, 'lg')) {
            font-size: 1.15rem;
        } 
    }
}

/* Breadcrumbs */
#breadcrumbs {
    background-color: #f7f7f9;
    padding: 1rem 0;

    @media(min-width: map-get($grid-breakpoints, 'lg')) {
        padding: 2rem 0;
    } 

    h3 {
        font-size: 1rem;

        @media(min-width: map-get($grid-breakpoints, 'lg')) {
            font-size: 1.4rem;
        } 
    }

    p {
        font-size: .85rem;

        @media(min-width: map-get($grid-breakpoints, 'lg')) {
            font-size: .95rem;
        } 
    }

    /* User menu */
    .user-menu {
        .nav-item {
            padding: 0 1rem;

            &:first-child {
                padding-left: 0;
            }

            .nav-link {
                padding: 0;
            }

            a.nav-link {
                color: #3b4249;
                text-transform: uppercase;
                font-weight: bold;
                
                &.active {
                    border-bottom: 2px solid #3b4249;
                }
            }
        }
    }
}

/* Search master */
#search_master_form {

    @media(min-width: map-get($grid-breakpoints, 'lg')) {
        .border-separator {
            border-width: 0 1px 0 0;
            border-color: #e5e5e5;
            border-style: solid;
            border-radius: 0;
        }
    }
    
    .input-group {
        margin-bottom: 0;
                
        .form-control {
            border-width: 0;
            border-color: #FFF;
            border-style: solid;

            &:focus {
                box-shadow: none;
            }
        }
        
        .input-group-prepend .input-group-text {
            padding: 0;
        }

        &:first-child .input-group-prepend .input-group-text {
            padding: 0 0 0 1.5rem;
        }
        
        &:last-child .form-control {
            border-color: transparent;
        }
    }
}

/* Popular cities */
#popular-cities {
    h5 {
        font-size: .95rem;
        font-weight: normal;
    }

    @media(min-width: map-get($grid-breakpoints, 'lg')) {
        h5 {
            font-size: 1rem;
        }
    }

    .btn-primary {
        background-color: #ffffff36;
        border-color: transparent;
    }
}

/* Why Alez */
#why-alez {
    p {
        margin: 0;
        color: #747474;
    }
}

/* Most visited */
#most-visited {
    background-color: #f7f7f9;

    img {
        margin: 15px 0;
    }
}

/* Filters */
.filter-group {
    margin-bottom: 1.75rem;
    font-size: .9rem;

    .filter-title {
        font-size: .9rem;
        margin-bottom: .85rem;
        font-weight: 500;
    }

    .form-group {
        margin-bottom: 0rem;
    }

    label {
        margin: 0;
        align-self: center;
    }
}

/* Advert list */
.advert-list {
    .advert {
        border-bottom: 1px solid $gray-300;
        padding-bottom: 1rem;
        margin-bottom: 1rem;

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        .title {
            font-size: .9rem;

            @media(min-width: map-get($grid-breakpoints, 'lg')) {
                font-size: 1.14rem;
            }
        }

        .price {
            font-size: 1.25rem;
            margin-top: .25rem;

            @media(min-width: map-get($grid-breakpoints, 'lg')) {
                font-size: 1.6625rem;
                margin-top: 0;
            }
        }
    }
}

/* Advert sort */
.list-group.sort-group {

    .list-group-item {
        padding: 0 .5rem .75rem .5rem;
        border: none;
        background: transparent;

        @media(min-width: map-get($grid-breakpoints, 'lg')) {
            padding: 0.75rem 1.25rem;
        }
    }

    .disabled a {
        color: #6c757d;
        font-weight: bold;
    }
}

/* Login */
#login-form {
    .login-or {
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: .75rem;
        background-color: #fff;
        z-index: 301;
        border: 1px solid $gray-300;
    }
}

/* Home */
.my-adverts-table {
    tr {
        border: 1px solid silver;
        border-radius: 0.25rem;
    }
}

/* User settings */
.list-group-btn {

    .list-group-item {
        &:first-child {
            padding-left: 0;
        }

        padding: 0.5rem .5rem;
    }
}

/* Footer */
#footer {
    .container > .row > .col-lg-4 > a.navbar-brand {
        background: url('/images/alez.svg') no-repeat 50% -2px;
        background-size: cover;
        text-indent: -1000rem;
        width: 135px;
        height: 39px;
        margin-right: 2rem;
        margin-left: -6px;
    }

    #useful-links {
        .nav .nav-item a.nav-link {
            color:  #3b4249;
        }
    }

    .post {
        color: #747474;
    }
}

/* Messages */
.conversation-list {
    .conversation {
        border-bottom: 1px solid $gray-300;
        padding-bottom: 1rem;
        margin-bottom: 1rem;

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}

.conversation {
    h4 {
        font-size: 1.25rem;

        @media(min-width: map-get($grid-breakpoints, 'lg')) {
            font-size: 1.425rem;
        }
    }

    .alert-primary {
        color: #FFF;
        background-color: #02807e;
        border-color: #02807e;
    }
    
    .alert-light {
        color: #3b4249;
        background-color: #f7f7f9;
        border-color: #f7f7f9;
    }
}

/* Components */
.card-dark {
    background-color: #f7f7f9;
    border-color: #f7f7f9;

    &.border-bottom-2 {
        border-bottom: 2px solid #e8ebef;
    }

    &.border-top-2 {
        border-top: 2px solid #e8ebef;
    }
}

/* Create advert form */
.form-section {
    font-size: .9rem;

    .form-title {
        margin: 0;
        border-radius: .25rem;
        font-size: .95rem;
        font-weight: bold;
    }

    .form-group {
        align-items: center;
    }
    
    .form-content {
        padding: 1.25rem 0;

        .form-group:last-child {
            margin-bottom: 0;
        }
    }

    label {
        margin-bottom: .25rem;

        @media(min-width: map-get($grid-breakpoints, 'lg')) {
            margin: 0;
        }
    }
}

/* Pagination */
.custom-pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0px;
    margin-top: 2rem;

    .custom-page-item {

        &.active {
            .custom-page-link {
                color: $body-bg;
                background-color: $primary;
            }
        }

        &.control {
            .custom-page-link {
                color: #919191;
            }
        }
        
        .custom-page-link {
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 40px;
            margin: 0 .75rem;
            text-align: center;
            position: relative;
            display: block;
            padding: 0;
            color: $body-color;
            background-color: #f7f7f9;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

            &:hover {
                background-color: darken(#f7f7f9, 15%);
            }
        }
    }
}

/* Components */
.list-group {
    .list-group-item {
        border-bottom: 1px solid $gray-300;
        margin-bottom: 0;
    }
}

/* Media */
@media(min-width: map-get($grid-breakpoints, 'lg')) {
    .btn-sm, .btn-group-sm > .btn {
        padding: 0.25rem 1rem;
    }
}





/***********/
/* Legacy */
#suggested-list {
    display: flex;
    flex-wrap: wrap;

    div {
        flex-grow: 1;
        width: 33%;
    }
}

.suggested-icon {
    width: 30px;
    height: 30px;
    line-height: 30px!important;
    border-radius: 30px;
    text-align: center;
    white-space: nowrap;
    color: #FFF;
    background-color: teal;
    margin-right: .8rem;  
    font-size: .875rem; 
}

.validation .hint-message {
	font-size: .8em;
}

.validation .is-valid {
	border-color: green!important;
}

.validation .is-invalid {
	border-color: red!important;
}

.validation .error-message {
	color: red;
    font-size: .8em;
    letter-spacing: .05rem;
    word-spacing: 0;
}

.inputfile {
    position: absolute;
    display: hidden;
    z-index: 0;
    height: 1px;
    opacity: 0;
    overflow: hidden;

    &+label {
        display: inline-block;
        color: #d6dde4;
        cursor: pointer;
    }
    
    &:focus + label, & + label:hover {
        color: #d6dde4;
    }

    &:focus + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }
}

.h-6 {
    height: 6rem;
}

.h-8 {
    height: 8rem;
}

.h-10 {
    height: 10rem;
}

.h-12 {
    height: 12rem;
}

.custom-control {
    margin-bottom: 0.5rem;
}

.table {
    margin-bottom: 0;

    th, td {
        vertical-align: middle;
    }

    tr:first-child td, th {
        border: none;
    }

    .fit {
        width: 1px;
        white-space: nowrap;
    }
}

.modal {
    top: 150px;
}

.avatar-cropper {
    .avatar-cropper-footer {
        flex-direction: row-reverse;
    }
    
    .cropper-view-box {
        border-radius: 50%;
    }

    .cropper-face {
        background: transparent;
    }
}