a {
    @apply no-underline text-teal;
}

.btn {
    @apply px-4 py-2 bg-transparent text-teal border border-teal no-underline rounded;

    &.btn-reverse {
        @apply bg-teal text-white;
    }

    &.btn-link {
        @apply p-0 border-none;
    }

    &.btn-small {
        @apply px-2 py-1 text-sm;
    }

    &.btn-link {
        @apply border-none;
    }
}

.card {
    @apply relative flex flex-col min-w-0 break-words bg-white rounded bg-white shadow;

    .card-body {
        @apply p-4 flex-auto;
    }

    .card-title {
        @apply mb-3;
    }
}

ul.menu {
    @apply flex -mx-2;

    li {
        @apply px-2;
    }
}

.navigator {
    //@apply p-4;

    a {
        @apply leading-normal;
    }

    ul {
        @apply flex flex-wrap list-reset;

        li {  

            a {
                @apply block p-4 text-white no-underline;   
                
                &:hover {
                    @apply bg-teal-dark;
                }
            }

            &:first-child a {
                @apply rounded-tl rounded-bl border-none;
            }
            
            &:last-child a {
                @apply border-0 rounded-tr rounded-br;
            }
        }
    }
}

.table {
    @apply w-full bg-white;

    thead {
        @apply bg-grey-light;
    }
    td, th {
        @apply p-4 text-left font-normal;

        &.fit {
            @apply w-px whitespace-no-wrap;
        }
    }
    tr td {
        @apply border-b;
    }
}

.form {
    .form-group {
        @apply mb-4;
    
        label {
            @apply inline-block mb-2;
        }
    
        input:not([type=checkbox]), textarea, select {
            @apply block w-full p-3 border border-grey rounded bg-transparent;
        }

        textarea {
            @apply h-32;
        }

    }

    .form-group-reverse {
        input:not([type=checkbox]), textarea, select {
            @apply block w-full p-3 rounded;
        }
    }
}

.autocomplete {

    @apply relative;

    ul {
        @apply -mt-1 bg-white absolute pin-t pin-l text-left list-reset;

        li {
            @apply p-3;
            
            &:firs-child {
                @apply border-0;
            }

            &:hover {
                @apply cursor-pointer;
            }
        }
    }

}

.inputfile {
    @apply absolute hidden z-0 w-px h-px opacity-0 overflow-hidden;

    & + label {
        @apply inline-block text-grey cursor-pointer;
    }

    &:focus + label, & + label:hover {
        @apply text-grey-darker;
    }

    &:focus + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }
}

ul.pagination {

    @apply list-reset flex;

    li.page-item {
        @apply bg-white border border-grey-light px-3 py-2 mr-1;

        &.disabled {
            @apply hidden;
        }

        &.active span {
            @apply text-grey;
        }

        .page-link {
            @apply no-underline text-grey-darkest;
        }
    }
}

.dropdown {
    @apply relative inline-block;

    .dropdown-content {
        @apply hidden absolute bg-white shadow p-4 z-10;
    }

    &:hover .dropdown-content {
        @apply block;
    }
}

