@media (min-width: 992px) {
  body {
    font-size: 0.95rem;
  }
}

/* Navbar top */

#navbar-top {
  padding: 0.5rem 0;
  font-weight: 700;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
  /* Logo */
  /* Links */
  /* Navbar-dark styles */
}

@media (min-width: 992px) {
  #navbar-top {
    padding: 1.5rem 0;
  }
}

#navbar-top .container > a.navbar-brand {
  background: url("/images/alez.svg") no-repeat 50% -2px;
  background-size: cover;
  text-indent: -1000rem;
  width: 115px;
  height: 34px;
  margin-right: 2rem;
  margin-left: -6px;
}

@media (min-width: 992px) {
  #navbar-top .container > a.navbar-brand {
    width: 135px;
    height: 39px;
  }
}

#navbar-top #menu-top a.nav-link,
#navbar-top #menu-top a.btn-link {
  color: #3b4249;
  padding-right: 0;
}

@media (min-width: 992px) {
  #navbar-top #menu-top a.nav-link,
  #navbar-top #menu-top a.btn-link {
    padding: 0.6rem 1.2rem;
  }
}

#navbar-top.navbar-dark {
  /* Logo */
}

#navbar-top.navbar-dark .container > a.navbar-brand {
  background: url("/images/alez.png") no-repeat 50% -2px;
  background-size: cover;
}

#navbar-top.navbar-dark #menu-top a.nav-link,
#navbar-top.navbar-dark #menu-top a.btn-link {
  color: #FFF;
}

/* Hero */

.hero {
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(41, 41, 41, 0.75);
}

.hero .hero-header {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 50px 0 0.85rem;
}

@media (min-width: 992px) {
  .hero .hero-header {
    margin: 100px 0 0.85rem;
    font-size: 2.95rem;
  }
}

.hero .hero-sub {
  font-size: 0.95rem;
  font-weight: normal;
}

@media (min-width: 992px) {
  .hero .hero-sub {
    font-size: 1.15rem;
  }
}

.hero .search-bar input {
  font-size: 0.95rem;
}

@media (min-width: 992px) {
  .hero .search-bar {
    font-size: 1rem;
  }
}

/* Breadcrumbs */

#breadcrumbs {
  background-color: #f7f7f9;
  padding: 1rem 0;
}

@media (min-width: 992px) {
  #breadcrumbs {
    padding: 2rem 0;
  }
}

#breadcrumbs h3 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

@media (min-width: 992px) {
  #breadcrumbs h3 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
}

#breadcrumbs p {
  font-size: 0.85rem;
}

@media (min-width: 992px) {
  #breadcrumbs p {
    font-size: 0.95rem;
  }
}

/* User menu */

.user-menu .nav-item {
  padding: 0 1rem;
  display: none;
}

@media (min-width: 992px) {
  .user-menu .nav-item {
    display: list-item;
  }

  .user-menu .nav-item:first-child {
    padding-left: 0;
  }
}

.user-menu .nav-item .nav-link {
  padding: 0;
}

.user-menu .nav-item a.nav-link {
  color: #3b4249;
  font-weight: bold;
}

@media (min-width: 992px) {
  .user-menu .nav-item a.nav-link {
    text-transform: uppercase;
  }

  .user-menu .nav-item a.nav-link.active {
    border-bottom: 2px solid #3b4249;
  }
}

/* User menu mobile */

.user-menu-mobile .list-group-item:first-child {
  padding-top: 0;
}

.user-menu-mobile .list-group-item:last-child {
  padding-bottom: 0;
}

.user-menu-mobile .nav-link,
.user-menu-mobile .btn-link {
  padding: 0;
  color: #3b4249;
}

.user-menu-mobile i {
  width: 15px;
  height: 15px;
  margin-right: 1rem;
}

/* Search master */

@media (min-width: 992px) {
  #search_master_form .border-separator {
    border-width: 0 1px 0 0;
    border-color: #e5e5e5;
    border-style: solid;
    border-radius: 0;
  }
}

#search_master_form .input-group {
  margin-bottom: 0;
}

#search_master_form .input-group .form-control {
  border-width: 0;
  border-color: #FFF;
  border-style: solid;
}

#search_master_form .input-group .form-control:focus {
  box-shadow: none;
}

#search_master_form .input-group .input-group-prepend .input-group-text {
  padding: 0;
}

#search_master_form .input-group:first-child .input-group-prepend .input-group-text {
  padding: 0 0 0 1.5rem;
}

#search_master_form .input-group:last-child .form-control {
  border-color: transparent;
}

/* Popular cities */

#popular-cities h5 {
  font-size: 0.95rem;
  font-weight: normal;
}

@media (min-width: 992px) {
  #popular-cities h5 {
    font-size: 1rem;
  }
}

#popular-cities .btn-primary {
  background-color: #ffffff36;
  border-color: transparent;
}

/* Why Alez */

#why-alez p {
  margin: 0;
  color: #747474;
}

/* Most visited */

#most-visited {
  background-color: #f7f7f9;
}

#most-visited img {
  margin: 15px 0;
}

/* Filters */

.filter-group {
  margin-bottom: 1.75rem;
  font-size: 0.9rem;
}

.filter-group .filter-title {
  font-size: 0.9rem;
  margin-bottom: 0.85rem;
  font-weight: 500;
}

.filter-group .form-group {
  margin-bottom: 0rem;
}

.filter-group label {
  margin: 0;
  align-self: center;
}

#filters-modal .filter-group:last-child {
  margin-bottom: 0;
}

/* Advert list */

.advert-list .advert {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.advert-list .advert:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.advert-list .advert .title {
  font-size: 0.9rem;
}

@media (min-width: 992px) {
  .advert-list .advert .title {
    font-size: 1.14rem;
  }
}

.advert-list .advert .price {
  font-size: 1.25rem;
  margin-top: 0.25rem;
}

@media (min-width: 992px) {
  .advert-list .advert .price {
    font-size: 1.6625rem;
    margin-top: 0;
  }
}

/* Advert sort */

.list-group.sort-group .list-group-item {
  padding: 0 0.5rem;
  border: none;
  background: transparent;
}

@media (min-width: 992px) {
  .list-group.sort-group .list-group-item {
    padding: 0.75rem 1.25rem;
  }
}

.list-group.sort-group .disabled a {
  color: #6c757d;
  font-weight: bold;
}

/* cities.show, adverts.show */

.filters-show {
  font-size: 100%;
}

.filter-box {
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 1061;
  background: #FFF;
  height: 100%;
  display: none;
}

@media (min-width: 992px) {
  .filter-box {
    display: block;
    position: relative;
    z-index: 1;
    height: auto;
  }
}

.filter-box .filters-header {
  background-color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  text-align: center;
  border-bottom: 1px solid #f2f2f2;
  padding: 0.5rem 15px;
}

.filter-box .filters-header p {
  font-size: 1.25rem;
}

@media (min-width: 992px) {
  .filter-box .filters-header {
    position: relative;
    text-align: left;
    border-bottom: none;
    padding: 0;
  }

  .filter-box .filters-header p {
    font-size: 1rem;
  }
}

.filter-box .filters-header .close {
  font-size: 1.75rem;
}

/* adverts.show */

.advert .favourite-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}

.advert .advert-photos .featured-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  overflow: hidden;
  position: relative;
}

@media (min-width: 992px) {
  .advert .advert-photos .featured-container {
    height: 400px;
  }
}

.advert .advert-photos .thumbnail-container {
  display: flex;
  justify-content: center;
}

.contact-info .btn-link {
  color: #FFF;
  font-weight: bold;
}

.contact-info .border-right-1 {
  border-right: 1px solid #41a09e;
}

.phone-number {
  font-size: 0.95rem;
}

@media (min-width: 992px) {
  .phone-number {
    font-size: 1.1rem;
  }
}

/* Login */

#login-form .login-or {
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0.75rem;
  background-color: #fff;
  z-index: 301;
  border: 1px solid #f2f2f2;
}

/* Home */

.my-adverts-table tr {
  border: 1px solid silver;
  border-radius: 0.25rem;
}

/* User settings */

.list-group-btn .list-group-item {
  padding: 0.5rem 0.5rem;
}

.list-group-btn .list-group-item:first-child {
  padding-left: 0;
}

/* Footer */

#footer .container > .row > .col-lg-4 > a.navbar-brand {
  background: url("/images/alez.svg") no-repeat 50% -2px;
  background-size: cover;
  text-indent: -1000rem;
  width: 115px;
  height: 34px;
  margin-right: 2rem;
  margin-left: -6px;
}

@media (min-width: 992px) {
  #footer .container > .row > .col-lg-4 > a.navbar-brand {
    width: 135px;
    height: 39px;
  }
}

#footer #useful-links .nav .nav-item a.nav-link {
  color: #3b4249;
}

#footer .post {
  color: #747474;
}

/* Messages */

.conversation-list .conversation {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.conversation-list .conversation:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.conversation h4 {
  font-size: 1.25rem;
}

@media (min-width: 992px) {
  .conversation h4 {
    font-size: 1.425rem;
  }
}

.conversation .alert-primary {
  color: #FFF;
  background-color: #02807e;
  border-color: #02807e;
}

.conversation .alert-light {
  color: #3b4249;
  background-color: #f7f7f9;
  border-color: #f7f7f9;
}

/* Create advert form */

.form-section {
  font-size: 0.9rem;
}

.form-section .form-title {
  margin: 0;
  border-radius: 0.25rem;
  font-size: 0.95rem;
  font-weight: bold;
}

.form-section .form-group {
  align-items: center;
}

.form-section .form-content {
  padding: 1.25rem 0;
}

.form-section .form-content .form-group:last-child {
  margin-bottom: 0;
}

.form-section label {
  margin-bottom: 0.25rem;
}

@media (min-width: 992px) {
  .form-section label {
    margin: 0;
  }
}

/**
 * COMPONENTS
 */

/* Pagination */

.custom-pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0px;
  margin-top: 2rem;
}

.custom-pagination .custom-page-item.active .custom-page-link {
  color: #FFF;
  background-color: #02807e;
}

.custom-pagination .custom-page-item.control .custom-page-link {
  color: #919191;
}

.custom-pagination .custom-page-item .custom-page-link {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  margin: 0 0.75rem;
  text-align: center;
  position: relative;
  display: block;
  padding: 0;
  color: #3b4249;
  background-color: #f7f7f9;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-pagination .custom-page-item .custom-page-link:hover {
  background-color: #cbcbd8;
}

/* Card */

.card-dark {
  background-color: #f7f7f9;
  border-color: #f7f7f9;
}

.card-dark.border-bottom-2 {
  border-bottom: 2px solid #e8ebef;
}

.card-dark.border-top-2 {
  border-top: 2px solid #e8ebef;
}

/* List-group */

.list-group .list-group-item {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 0;
}

.list-group .list-group-item:last-child {
  border-bottom: 0;
}

/* Modal */

.modal-header .close {
  padding: 0.75rem;
  margin: -0.75rem -0.75rem -0.75rem auto;
}

/* Media */

@media (min-width: 992px) {
  .btn-sm,
  .btn-group-sm > .btn {
    padding: 0.25rem 1rem;
  }

  .btn-lg-block {
    display: block;
    width: 100%;
  }
}

/* Alerts */

.alert-flash {
  position: fixed;
  bottom: 50px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

@media (min-width: 992px) {
  .alert-flash {
    right: 50px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/***********/

/* Legacy */

#suggested-list {
  display: flex;
  flex-wrap: wrap;
}

#suggested-list div {
  flex-grow: 1;
  width: 33%;
}

.suggested-icon {
  width: 30px;
  height: 30px;
  line-height: 30px !important;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  color: #FFF;
  background-color: teal;
  margin-right: 0.8rem;
  font-size: 0.875rem;
}

.validation .hint-message {
  font-size: 0.8em;
}

.validation .is-valid {
  border-color: green !important;
}

.validation .is-invalid {
  border-color: red !important;
}

.validation .error-message {
  color: red;
  font-size: 0.8em;
  letter-spacing: 0.05rem;
  word-spacing: 0;
}

.inputfile {
  position: absolute;
  display: hidden;
  z-index: 0;
  height: 1px;
  opacity: 0;
  overflow: hidden;
}

.inputfile + label {
  display: inline-block;
  color: #d6dde4;
  cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
  color: #d6dde4;
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.h-6 {
  height: 6rem;
}

.h-8 {
  height: 8rem;
}

.h-10 {
  height: 10rem;
}

.h-12 {
  height: 12rem;
}

.custom-control {
  margin-bottom: 0.5rem;
}

.table {
  margin-bottom: 0;
}

.table th,
.table td {
  vertical-align: middle;
}

.table tr:first-child td,
.table th {
  border: none;
}

.table .fit {
  width: 1px;
  white-space: nowrap;
}

.modal .modal-header {
  align-items: center;
}

.avatar-cropper .avatar-cropper-footer {
  flex-direction: row-reverse;
}

.avatar-cropper .cropper-view-box {
  border-radius: 50%;
}

.avatar-cropper .cropper-face {
  background: transparent;
}

