@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.card {
  border: none;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

#suggested-list {
  display: flex;
  flex-wrap: wrap;
}

#suggested-list div {
  flex-grow: 1;
  width: 33%;
}

.suggested-icon {
  width: 30px;
  height: 30px;
  line-height: 30px !important;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  color: #FFF;
  background-color: teal;
  margin-right: 0.8rem;
  font-size: 0.875rem;
}

.validation .hint-message {
  font-size: 0.8em;
}

.validation .is-valid {
  border-color: green !important;
}

.validation .is-invalid {
  border-color: red !important;
}

.validation .error-message {
  color: red;
  font-size: 0.8em;
  letter-spacing: 0.05rem;
  word-spacing: 0;
}

.inputfile {
  position: absolute;
  display: hidden;
  z-index: 0;
  height: 1px;
  opacity: 0;
  overflow: hidden;
}

.inputfile + label {
  display: inline-block;
  color: grey;
  cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
  color: grey;
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.h-6 {
  height: 6rem;
}

.h-8 {
  height: 8rem;
}

.h-10 {
  height: 10rem;
}

.custom-control {
  margin-bottom: 0.5rem;
}

.table {
  margin-bottom: 0;
}

.table th,
.table td {
  vertical-align: middle;
}

.table tr:first-child td,
.table th {
  border: none;
}

.table .fit {
  width: 1px;
  white-space: nowrap;
}

.pagination {
  margin-bottom: 0px;
}

.modal {
  top: 150px;
}

.filter-group {
  margin-bottom: 1.75rem;
  font-size: 0.8rem;
}

.filter-group .filter-title {
  font-size: 0.9rem;
  margin-bottom: 0.85rem;
  font-weight: 500;
}

.filter-group .form-group {
  margin-bottom: 0rem;
}

